<div class="row">
  <div class="large-6 large-offset-3 columns">
    <h2>Search for a vehicle</h2>

    <p>Please enter a stock reference number and registration number below.</p>

    <form name="vehicleForm">
      <div class="row collapse">
        <label><span class="reader-only">Stock reference</span>
          <input placeholder="Stock reference" type="text" ng-model="vehicle.stockRef" required />
        </label>
      </div>
      <div class="row collapse">
        <label><span class="reader-only">Registration</span>
          <input placeholder="Registration" type="text" ng-model="vehicle.registration" required />
        </label>
      </div>

      <input type="submit" class="button" value="Search for car" ng-disabled="vehicleForm.$invalid" ng-click="showVehicle(vehicle)" />
    </form>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr>
    <p>Knocked up with love one snowy afternoon by <a href="https://github.com/pedrosland">Peter Sutherland</a></p>
  </div>
</div>
