<div class="row">
  <div class="large-12 columns">

    <div class="row">
      <h1>Vehicle Info: {{ registration }}</h1>
    </div>

    <div ng-if="!data.allImagesFailed">
      <div class="large-image">
        <img ng-src="{{currentImageUrl}}" />
      </div>

      <ul class="inline-list thumbs" at-safe-image-container data-all-images-failed="data.allImagesFailed" data-set-first-loaded-url="setFirstLoadedUrl">
        <li class="th" ng-repeat="url in imageUrls" ng-show="imageLoaded">
          <a href ng-click="setCurrentImage(url)">
            <at-safe-image data-src="url" data-alt="Vehicle image" data-image-loaded="imageLoaded"></at-safe-image>
          </a>
        </li>
      </ul>
    </div>

    <div ng-if="data.allImagesFailed" class="row callout panel">
      <p>Sorry, there are no images for this vehicle.</p>
    </div>

  </div>
</div>
